<header class="header">
    <div class="header__text-box">
        <img class="mb-md" alt="Jose-Amador"
            src="https://scontent.fmex7-1.fna.fbcdn.net/v/t1.0-9/38791633_10216464721347878_2058574208610336768_n.jpg?_nc_cat=110&_nc_ht=scontent.fmex7-1.fna&oh=9cf7f2a3b4b4652082d2410002b9a22e&oe=5CDD8BEB">
        <h1 class="center heading-1">
            <span class="heading-primary--main">Hi!, I'm Jose Amador</span>
            <p>
                <<span class="heading-primary--sub element"></span> />
            </p>
        </h1>

        <ul class="header__social list-reset">
            <li><a href="https://github.com/JoseLAmador" target="_blank" rel="noopener"><i
                        class="fab fa-github"></i></a></li>
            <li><a href="mailto: josel.amador.s@gmail.com"><i class="far fa-envelope" rel="noopener"></i></a></li>
            <li><a href="https://www.linkedin.com/in/josel-dev/" target="_blank" rel="noopener"><i
                        class="fab fa-linkedin"></i></a>
            </li>
        </ul>
    </div>
</header>